body { 
    margin: 0; 
}

.backgroundColor {
    overflow: auto;
    background-color: #172153;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 94vh;
    max-height: 300vh;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backgroundColor2 {
    background-color: #172153;
    background-size: cover;
    min-width: 90vw;
    min-height: 100vh;
    max-height: 500vh;
}

.HomeBackground {
    background-image: url(https://res.cloudinary.com/dv6mgmdzd/image/upload/v1669910339/Project%203%20-%20Neighbourly/home_tfce7y.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-width: 90vw;
    min-height: 91.1vh;
    max-height: 500vh;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Welcome {
min-height: 94vh;
max-height: 300vh;
background-image: url(https://res.cloudinary.com/dv6mgmdzd/image/upload/v1669906565/Project%203%20-%20Neighbourly/welcome_bzuio7.png);
background-repeat: repeat;
background-size: cover;
background-position: center center;
background-attachment: fixed;
display: flex;
flex-direction: column;
padding-top: 200px;
align-items: center;
font-weight: bold;
}

.Welcome h1 {
    font-size: 80px;
}

.Welcome p {
    font-size: 40px;
}

.textColor {
    color: white;
    font-weight: bold;
}

.profile-header {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 1rem;
}

.profile-edit {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
}

.address-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.link-box-profile {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.edit-profile-image-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.edit-profile-form {
    display: flex;
    flex-direction: column;
}

.edit-profile-form > button {
    align-self: center;
    width: 10rem;
}

.address-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
}
.address-form {
    background-color: #FF9666;
    border-radius: 2%;
    display: flex;
    flex-direction: column; 
    padding: 2rem;
}

.current-addresses {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 1rem;
    text-align: left;
}

.address-form > button {
    align-self: center;
    width: 10rem; 
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.HomeH3 {
    font-size: 40px;
}

.HomeH1 {
    font-size: 80px;
}

.HomeH2 {
    font-size: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
}

p {
    color: white;
    text-align: center;
    font-size: 18px;
}

.textCtr {
display: flex;
flex-direction: column;
align-items: center;
padding-top: 50px;
}

.Info {
    width: 50vw;
    padding-top: 50px;
}

.InfoBox {
    background-color: #FF9666;
    color: white;
    border: 5px solid #FF9666;
    border-radius: 20px;
    padding: 10px;
    width: 50vw;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.InfoBox2 {
    background-color: #FF9666;
    color: white;
    border: 5px solid #FF9666;
    border-radius: 20px;
    padding: 10px;
    width: 50vw;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.PersonBox {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white
}

.PersonName {
    font-weight: bold;
    
}

.InfoImg {
    width: 50px;
    height: 50px;
    border: 2px solid #172153;
    border-radius: 5px;
}

/*.btn-color {
    background-color: #FF9666;
    color: white;
    border: 1px solid #FF9666;
    border-radius: 5px;
    padding: 5px;
}
.link-text {
    text-decoration: inherit;
    color: white;
}*/



.Navbar {
display: flex;
justify-content: space-around;
align-items: center;
}

.Link {
    padding: 20px;
}

.Image {
    width: 300px;
    height: 300px;
    padding: 50px;
}

.Icon {
    width: 30px;
    height: 30px;
    padding-left: 10px;
}

.Button {
    margin: 20px;
}

.ListItem {
    list-style: none;
}
.itemsToBorrow {
    border: solid black 2px;
    margin-top: 5px;
    margin-right: 10px;
    width: 50%;
}
